@page "/"
@using ExcelReader.Entities
@using ExcelReader.Interfaces
@using ExcelReader.Services
@inject IExcelService ExcelService;
@inject ILogger<Home> Logger;

<PageTitle>Home</PageTitle>

<h3>Aktien Statistik</h3>
<InputFile OnChange="HandleFileSelected" accept=".xlsx,.xls" />

@if (stocks != null && stocks.Any())
{
    <p>File Uploaded: @fileName</p>
    <ExcelTable Stocks="stocks" />

}
else
{
    <div>Keine Einträge vorhanden</div>
}


@code {
    private string fileName = string.Empty;
    private List<Stock>? stocks;
    private string? errorMessage;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        fileName = file.Name;

        if (file != null)
        {
            try
            {
                using (var stream = file.OpenReadStream())
                {
                    var buffer = new byte[file.Size];
                    await stream.ReadAsync(buffer, 0, (int)file.Size);
                    stocks = ExcelService.ReadExcelFile(buffer);
                }
            }
            catch (Exception ex)
            {
                Logger.LogError("Failed to read excel: {ex}", ex);
                errorMessage = $"Error reading file";
            }
        }
    }
}